// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@font-face {
	font-family: "LemonMilkLight";
	src: url("../fonts/LEMONMILK-Light.woff") format("woff");
	font-weight: light;
}
@font-face {
	font-family: "LemonMilkRegular";
	font-weight: regular;
	src: url("../fonts/LEMONMILK-Regular.woff") format("opentype");
}
$onhovertext: #cd6a77;
$primary: #e0a3ab;
$secondary: #e2d1c7;
$tertiary: #aad1be;
$tertiary-light: #cee8d2;
$dark: #383838;
$light-dark: #979898;
$light: #e9e2dc;

$font: "LemonMilkLight";
$font-nami: "Tangerine";
$font-monts: "Montserrat";

html {
	scroll-behavior: smooth;
}
body {
	// padding: %;
	max-width: 1920px;
	margin: 0 auto;
	overflow-x: hidden;
}

a {
	color: $tertiary !important;
	&:hover {
		color: $onhovertext !important;
		text-decoration: none;
		cursor: pointer;
	}
}

@import "./mixins/mixins";
@import "./components/animations/main";

@import "./components/blog";
@import "./components/btn";
@import "./components/card";
@import "./components/carousel";
@import "./components/comments";
@import "./components/contact";
@import "./components/entry";
@import "./components/header";
@import "./components/heading";
@import "./components/hr";
@import "./components/icons";
@import "./components/jetpack";
@import "./components/footer";
@import "./components/logo";
@import "./components/nav";
@import "./components/pinterest";
@import "./components/single_recipe";
@import "./components/search";
@import "./components/searchRecipes";
@import "./components/site";
@import "./components/top-recipes";
@import "./components/wpc7";

@import "./components/utilities/main";
