.rotate180left {
	animation: rotate180left 400ms;
}
.rotate180right {
	animation: rotate180right 400ms;
}

@keyframes rotate180left {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-180deg);
	}
}

@keyframes rotate180right {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(180deg);
	}
}
