.animate-slideRight {
	animation: slideRight 0.4s;
	@include respond("lg") {
		animation: none;
	}
}
.animate-slideLeft {
	animation: slideLeft 0.4s;
	@include respond("lg") {
		animation: none;
	}
}

@keyframes slideLeft {
	0% {
		transform: translatex(200%);
	}
	100% {
		transform: translatex(0%);
	}
}
@keyframes slideRight {
	0% {
		transform: translatex(0%);
	}
	100% {
		transform: translatex(200%);
	}
}
