.border {
	&-left {
		&-1 {
			border: 1px solid $primary;
		}
	}
	&-light {
		&-reg {
			border: 1px solid $light;
			box-sizing: border-box;
		}
	}
	&-none {
		border: none;
	}
	&-primary {
		&-reg {
			border: 1px solid $tertiary;
			box-sizing: border-box;
			border-radius: 1px;
			&:hover {
				border-color: $primary;
			}
		}
	}
	&-tertiary {
		&-reg {
			border: 1px solid $tertiary;
		}
	}
}

.input-group:hover {
	.border {
		&-primary {
			&-reg {
				border-color: $primary;
				cursor: pointer;
				color: $primary;
			}
		}
	}
}
