.text {
	&-light-dark {
		color: $light-dark;
		&::placeholder {
			color: $light-dark;
		}
	}
	&-secondary {
		color: $secondary;
	}
	&-primary {
		color: $primary;
		&::placeholder {
			color: $primary;
		}
	}
	&-tertiary {
		color: $tertiary;
	}
}
