.btn {
	&-icon {
		line-height: 0;
		@include respond("sm") {
			font-size: 2rem;
		}
	}
	&-read-more {
		position: relative;
		font-size: 1.5rem;
		:hover {
			cursor: pointer;
		}
		& > p {
			display: none;
		}
	}
	&-offset-highlight {
		position: absolute;
		width: 100%;
		height: 65%;
		background-color: $light;
		transform: translate(10%, -90%);
		z-index: -12;
	}
}
