#carouselExampleIndicators {
	// height: 28vh;
	@include respond("md") {
		// height: 60vh;
	}
}
.card {
	border: none;
	& > div > h4 {
		font-size: 1rem;
		font-family: $font;
		@include respond("md") {
			font-size: 1.3rem;
		}
	}
	&-body {
		color: $light-dark;
	}
}
.carousel {
	&-banner {
		margin-bottom: 6rem;
	}
	&-caption {
		padding: 0.5rem;
		align-self: center;
		justify-content: center;
		background-color: rgba(255, 255, 255, 0.897);
		bottom: 0px;
		color: $light-dark;
		letter-spacing: 3px;
		text-transform: uppercase;
		width: auto;
		right: none;
		left: 50%;
		transform: translateX(-50%);
		min-width: 65%;
		@include respond("md") {
			min-width: 45%;
			padding: 1rem36;
		}
		& > h3 {
			font-family: $font;
			font-size: 0.55rem;
			display: inline;
			@include respond("md") {
				font-size: 1rem;
			}
		}
	}
	&-control {
		&-prev {
			justify-content: flex-start;
			& > i {
				font-size: 1.5rem;
				@include respond("md") {
					font-size: 3rem;
				}
			}
		}
		&-prev:hover {
			color: white;
		}
		&-next {
			justify-content: flex-end;
			& > i {
				font-size: 1.5rem;
				@include respond("md") {
					font-size: 3rem;
				}
			}
		}
		&-next:hover {
			color: white;
		}
	}

	&-favorites {
		&-title {
			background-color: $light;
			font-family: $font;
			letter-spacing: 5px;
			margin-bottom: 2rem;
			padding: 0.75rem;
			text-align: center;
			width: 60%;
			@include respond("md") {
				width: 30%;
			}
		}
	}

	&-indicators {
		bottom: -55px;
		& .active {
			background-color: $tertiary;
		}
		& > li {
			background-color: $secondary;
			background-clip: inherit;
			border-radius: 50px;
			border-top: none;
			border-bottom: none;
			height: 15px;
			margin-right: 10px;
			margin-left: 10px;
			width: 15px;
		}
	}
	&-inner {
		height: 100%;
	}
	&-item {
		// transform: translateY(-10%);
		// display: flex;
		// justify-content: center;
		&-img {
			height: auto;
			width: auto;
			@include respond("md") {
				height: auto;
				width: 100%;
			}
		}
		&-title {
			// bottom: 21%;
			color: $primary;
		}
	}
	&-hero {
		width: 90vw;
		@include respond("xl") {
			width: 70vw;
		}
	}
}
