#carouselExampleIndicators {
	// height: 28vh;
	& > .carousel-indicators {
		bottom: -55px;
	}
	@include respond("md") {
		// height: 60vh;
	}
}
.card {
	border: none;
	& > a > div > h4 {
		font-size: 0.65rem;
		font-family: $font;
		padding: 0.5rem;
		max-height: 2rem;
		@include respond("md") {
			font-size: 1rem;
		}
	}
	&-body {
		color: $light-dark;
	}
	&-img {
		&-top {
			height: 40vw !important;
			object-fit: cover;
			width: 100% !important;
			@include respond("md") {
				height: 50vw !important;
			}
			@include respond("lg") {
				height: 25vw !important;
			}
		}
	}
}
.carousel {
	&-banner {
		margin-bottom: 4rem;
	}
	&-caption {
		padding: 0.5rem;
		align-self: center;
		justify-content: center;
		background-color: rgba(255, 255, 255, 0.897);
		bottom: 0px;
		color: $light-dark;
		letter-spacing: 3px;
		text-transform: uppercase;
		width: auto;
		right: none;
		left: 50%;
		transform: translateX(-50%);
		min-width: 65%;
		@include respond("lg") {
			min-width: 55%;
			padding: 1rem;
		}
		& > h3 {
			font-family: $font;
			font-size: 0.6rem;
			display: block;
			line-height: 1.5 !important;
			margin: 0;
			@include respond("md") {
				font-size: 1rem;
			}
		}
	}
	&-control {
		&-prev {
			justify-content: flex-start;
			& > i {
				font-size: 1.5rem;
				@include respond("md") {
					font-size: 3rem;
				}
			}
		}
		&-prev:hover {
			color: white;
		}
		&-next {
			justify-content: flex-end;
			& > i {
				font-size: 1.5rem;
				@include respond("md") {
					font-size: 3rem;
				}
			}
		}
		&-next:hover {
			color: white;
		}
	}

	&-favorites {
		&-title {
			background-color: $light;
			font-family: $font;
			letter-spacing: 5px;
			margin-bottom: 1rem;
			padding: 0.75rem;
			text-align: center;
			width: 60%;
			font-size: 0.5rem;
			@include respond("md") {
				font-size: 1rem;
				width: 50%;
			}
			@include respond("lg") {
				font-size: 1rem;
				width: 35%;
			}
		}
	}

	&-indicators {
		bottom: -30px;

		@include respond("md") {
			bottom: -40px;
		}
		& .active {
			background-color: $tertiary;
		}
		& > li {
			background-color: $secondary;
			background-clip: inherit;
			border-radius: 50px;
			border-top: none;
			border-bottom: none;
			margin-right: 10px;
			margin-left: 10px;
			height: 10px;
			width: 10px;
			@include respond("lg") {
				width: 12px;
				height: 12px;
			}
		}
	}
	&-inner {
		height: 100%;
	}
	&-item {
		// transform: translateY(-10%);
		// display: flex;
		// justify-content: center;

		&-img {
			height: auto;
			width: auto;
			@include respond("md") {
				height: auto;
				width: 100%;
			}
		}
		&-title {
			// bottom: 21%;
			color: $primary;
		}
	}
	&-hero {
		width: 90vw;
		@include respond("xl") {
			width: 70vw;
		}
	}
}
