.comments {
	&-title {
		margin-bottom: 1.5rem;
	}
	&-link {
		text-transform: uppercase;
	}
}
.comment {
	&-metadata {
		& > a {
			& > time {
				color: $primary;
			}
		}
	}
	&-reply {
		&-title {
			font-family: $font;
			text-transform: uppercase;
			color: $primary;
		}
	}
	&-notes {
		font-size: 0.8rem;
	}
}

.reply {
	margin-bottom: 1rem;

	& > a {
		text-transform: uppercase;
	}
}

.fn {
	font-family: $font;
}
