.entry {
	&-content {
		font-family: $font-monts;
		& > p {
			text-indent: 1rem;
			color: $light-dark;
		}
	}
	&-header {
		font-family: $font-monts;
		& + img {
			margin-bottom: 1rem;
		}
	}
	&-footer {
		font-family: $font-monts;
		margin: 2rem 0 0 0;

		& > .comments-link > a {
			color: $light-dark;
		}
		& > .edit-link > a {
			color: $light-dark;
		}
	}
	&-title {
		font-size: 1.5rem;
	}
	&-meta {
		margin-bottom: 1rem;
		font-size: 0.7rem;
		font-family: $font-monts;
	}
}
