.heading {
	&-style {
		&-1 {
			font-family: $font;
			background-color: $light;
			padding: 0.3rem;
			letter-spacing: 0.2rem;
			color: $light-dark;
		}
	}
}
.heading {
	&-style {
		&-2 {
			font-family: $font-monts;
			background-color: $light;
			letter-spacing: 0.2rem;
			color: $light-dark;
			text-transform: uppercase;
		}
	}
}
