.header {
	position: sticky;
	top: 0px;
	z-index: 101;
	padding: 5px;

	&_widget {
		justify-content: flex-end;
		display: flex;
		display: none;
		@include respond("md") {
		}
		@include respond("xl") {
			display: block !important;
			max-width: 12rem;
		}
	}
}
