#navbarNavDropdown {
	position: absolute;
	background-color: white;
	padding: 1rem;
	border: 2px;
	width: 100vw;
	left: -7vw;
	z-index: 2000;
	@include respond("sm") {
		position: absolute;
		left: -3vw;
	}
	@include respond("md") {
		width: 100vw;
	}
	@include respond("lg") {
		// height: 50%;
		width: 100vw;
		left: -7vw;
		top: 191%;
	}
	@include respond("xl") {
		position: initial;
		left: initial;
		// height: 50%;
	}
}
#main-nav {
	padding: 0rem;

	@include respond("lg") {
		position: relative;
		left: 0vw;
	}
	& + img {
		margin: 3rem 0rem;
	}
}
#main-menu {
	font-size: 1.25rem;
	font-family: $font;
	@include respond("sm") {
	}
	div {
		a {
			padding-left: 3rem;
			padding-right: 3rem;
			@include respond("sm") {
			}
		}
	}
}

.dropdown-toggle::after {
	display: none;
}

.navbar-toggler {
	@include respond("sm") {
		font-size: 2rem;
	}
}

.nav-link {
	color: $light-dark;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;

	@include respond("sm") {
		font-size: 18px;
	}
	@include respond("md") {
		font-size: 16px;
	}
	@include respond("lg") {
		font-size: 16px;
	}
	@include respond("xl") {
		border-bottom: none;
		font-size: 20px;
	}
}

.mobile-menu-dropdown {
}
