#main-nav {
	position: absolute;
	padding: 0rem;
	@include respond("lg") {
		position: relative;
	}
	& + img {
		margin: 3rem 0rem;
	}
}
#main-menu {
	font-size: 1.25rem;
	margin-bottom: 2rem;
	font-family: $font;
	border-bottom: 1px solid $secondary;
	@include respond("sm") {
		font-size: 1.5rem;
	}
	div {
		a {
			padding-left: 3rem;
			padding-right: 3rem;
		}
	}
}

.dropdown-toggle::after {
	display: none;
}

.navbar-toggler {
}

.nav-link {
}

.mobile-menu-dropdown {
}
