#searchform {
	width: auto;

	@include respond("md") {
	}
}
#s {
	color: $dark;

	&:focus {
		border-color: $primary !important;
		& + span {
			& > button {
				border-color: #e0a3ab !important;
			}
		}
	}
	&:hover {
		color: $dark;
	}
	& + span {
		& > button {
			& > i {
				font-size: 10px;
			}
		}
	}
}
#search-12 {
	display: flex;
	justify-content: flex-end;
	& > form {
		& > .input-group {
			& > * {
				height: 1.75rem;
			}
		}
	}
}
