#searchRecipes {
	@include respond("md") {
		& > * {
			display: block !important;
		}
	}
	& > .row {
		& > div {
			& > fieldset {
				& > * {
					font-size: 0.8rem;
					text-transform: capitalize;
				}
			}
		}
	}
}

#recipes {
	&-order {
	}
	&-order-by {
	}
}

.searchRecipes {
	&-orderby {
		padding: 0.2rem;
		border: none;
		color: $tertiary;
		font-size: 1rem;
		background-color: white;
		// display: none;
		// appearance: none;
		width: 100%;
		&-label {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			// &:after {
			// 	transform: rotate(180deg);
			// 	font-size: 20px;
			// 	content: "^";
			// 	color: $tertiary;
			// 	right: 0;
			// 	text-align: center;
			// }
			&-title {
				font-family: $font-monts;
			}
		}
		&-box {
			display: flex;
			& > fieldset {
				position: relative;
			}
		}
	}
}
.browse {
	&-filter {
		padding: 0.5rem;
		&-open {
			display: block;
		}
		&-close {
			display: none;
		}
	}
	&-title {
		background-color: $light;
		padding: 0.4rem 1rem;
		&:hover {
			cursor: pointer;
		}
	}
}

.search {
	&-input {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		flex-direction: row-reverse;
		& > * {
			color: $tertiary;
			font-size: 1rem;
		}
		& > input[type="checkbox"] {
			display: none;
			& + label:after {
				border: 1px solid $tertiary;
				margin-left: auto;
				content: "\00a0";
				display: inline-block;
				font: 16px/1em sans-serif;
				height: 16px;
				margin: 0 0.25em 0 0;
				padding: 0;
				width: 16px;
			}
			&:checked + label:after {
				content: "\2713";
				background-color: $primary;
				border: 1px solid $primary;
				color: white;
				text-align: center;
			}
		}
		& > label {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	&-filter {
		&-button {
			display: none;
			border: 1px solid $primary;
			color: $primary;
			padding: 0.5rem;
			margin: 1rem;
		}
	}
	&-recipes {
		padding: 0 0%;
		margin: 0;

		&-heading {
			background-color: $light;
			text-align: center;
			padding: 0.8rem;
			letter-spacing: 0.2rem;
			text-transform: uppercase;
			font-weight: 400;
			font-size: 1.2rem;
			font-family: $font-monts;
			@include respond("md") {
				padding: 0.5rem;
			}
		}
	}
	&-results {
		&-current {
			&-page {
				& > a {
					color: $primary !important;
				}
			}
		}
		& > div {
			font-family: $font;
			& > img {
				width: 100%;
			}
		}
		&-image {
			& > img {
				width: 100%;
			}
			& + div {
				font-size: 0.7rem;
				margin-bottom: 1rem;
				margin-top: 0.25rem;
				text-align: center;
				@include respond("sm") {
					font-size: 0.8rem;
				}
				@include respond("lg") {
					font-size: 1rem;
				}
			}
		}
		&-page {
			margin: 0.1rem;
			@include respond("sm") {
				margin: 0.5rem;
			}
			&-num {
				color: $light-dark;
			}
		}
		&-pagination {
			margin-top: 2rem;
			font-size: 0.75rem;
			& > div {
				padding: 0;
			}
			@include respond("lg") {
				font-size: 1.25rem;
			}
		}
		&-current-page {
			& > a {
				color: $primary;
			}
		}

		&-first {
			padding: 0.3rem;
			margin-left: 0.5rem;
			white-space: nowrap;
			position: relative;
			&:hover:after {
				opacity: 1;
			}
			&::after {
				position: absolute;
				content: "First Page";
				bottom: 0;
				left: 0;
				font-size: 0.5rem;
				transform: translate(0%, 100%);
				color: $light-dark;
				opacity: 0;
				border: 1px solid $light-dark;
				padding: 0.25rem;
			}
			@include respond("sm") {
				transform: translate(-50%, 100%);
			}
		}
		&-last {
			word-spacing: nowrap;
			padding: 0.3rem;
			margin-left: 0.5rem;
			white-space: nowrap;
			position: relative;
			&:hover:after {
				opacity: 1;
			}
			&::after {
				position: absolute;
				content: "Last Page";
				bottom: 0;
				right: 0;
				font-size: 0.5rem;
				transform: translate(0%, 100%);

				color: $light-dark;
				opacity: 0;
				border: 1px solid $light-dark;
				padding: 0.25rem;
			}
		}
	}
	&-section {
		overflow: hidden;
	}
}
