@media print {
	#page > div:first-child {
		top: 0;
		position: absolute;
	}
	.print-none {
		display: none;
	}

	#entry-content-print {
		padding: 4rem 0rem;
	}

	.print-container {
		min-width: 90vw !important;
	}
	.site {
		padding-left: 0 !important;
		padding-right: 0 !important;
		& > div:nth-child(2) {
			& > div:nth-child(1) {
				max-width: 2000px !important;
			}
		}
	}
}

a:hover {
	text-decoration: none;
}
*:focus {
	outline: none;
	box-shadow: none !important;
	border-color: $primary;
}

.content-area {
	padding: 0 2rem;
}

.site {
	position: sticky !important;
	top: 0px;
	z-index: 100;
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 1rem;
	padding-right: 10%;
	padding-left: 10%;
	@include respond("sm") {
		padding-right: 5%;
		padding-left: 5%;
	}
	@include respond("lg") {
		margin-top: 0rem;
		padding: 0 10%;
	}
	& > div:first-child() {
		padding: 1rem 0 1rem 0rem;
		position: sticky;
		top: 0;
		z-index: 1000;
	}
}

.cat-links {
	& a {
		color: $tertiary;
	}
}

::marker {
	display: none;
}
