.form-control {
	&:focus {
		border: 1px solid $primary;
	}
}
.wpcf7 {
	letter-spacing: 5px;
	@include respond("lg") {
		max-width: 80% !important;
	}
	&-submit {
		text-transform: uppercase;
		&:hover {
			background-color: white !important;
		}
	}
}

.wpcf7-not-valid-tip {
	font-size: 1rem !important;
	margin: 0.5rem;
}

.wp-block-contact-form-7-contact-form-selector {
	width: 100%;
}
.wpcf7-form-control {
	background-color: $primary;
	color: $tertiary !important;
	&:focus {
		border: 1px solid $primary;
	}
}
.wpcf7-response-output {
	display: none;
}
.wpcf7 input:not(:disabled):not(.disabled):active[type="submit"] {
	background-color: white;
}

.wpcf7 form.failed .wpcf7-response-output {
	border-color: white;
	color: red;
	font-weight: bold;
}
.wp7-label {
	font-family: $font;
	color: $primary !important;
	@include respond("lg") {
		font-size: 1rem;
		font-weight: bold;
	}
}

.textwidget > .wpcf7 {
	max-width: none !important;
	& > .wpcf7-form {
		& > .wrapper {
			padding: 0;
		}
		& > p {
			margin-bottom: 0;
		}
	}
}

#wrapper-footer-full {
	padding: 0;
	margin-top: 2rem;
}
